.homeTitle{
    padding: 20vh 10vw;
    color: #ffffff;
}
main{
    background-image: url(images/mainBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
body{
    background-color: bisque;
}
bestSellers{
    margin: 10px;
}
.container{
    padding-top: 25vh;
    height: 100vh;
}

@media screen and (max-width: 1024px) {
    .homeTitle{
        margin-top: 10vh;
        margin-left: 5vw;
        color: #ffffff;
    }
 }

@media screen and (max-width: 480px) {
    .homeTitle{
        margin-top: 5;
        margin-left: 3vw;
        color: #ffffff;
    }
 }
